Semantics at-most-once
LoggingLevel light

OP1 input_ops tweeters.dat rep_fact 1 routing random address tcp://localhost:11010/op operator_spec FILTER 3,=,"www.tecnico.ulisboa.pt"

OP2 input_ops OP1 rep_fact 3 routing primary address tcp://localhost:11020/op,tcp://localhost:11021/op,tcp://localhost:11022/op operator_spec DUP

%%%OP2 input_ops OP1 rep_fact 1 routing random primary tcp://localhost:11020/op operator_spec CUSTOM mylib.dll,QueryFollowersFile,getFollowers 

OP3 input_ops OP2 rep_fact 1 routing primary address tcp://localhost:11030/op operator_spec UNIQ 1

OP4STDOUT input_ops OP3 rep_fact 1 routing primary address tcp://localhost:11040/op operator_spec COUNT
Start OP1
Start OP2
Interval OP2 110
Start OP3
Start OP4STDOUT

Freeze OP2 1
Wait 5000
Unfreeze OP2 1

Status
Interval OP3 150
Wait 4000
Status